<h1>Index for Wish List Cars</h1>

<ul>
    <% @wish_list_cars.each do |wish_list_car| %>
    <li>
     <%= link_to wish_list_car.car_model.car_name, wish_list_car %>
    </li>
    <br>
    <% end %>
</ul>
<%= button_to "Create Wish List Car", new_wish_list_car_path, :method => :get  %>
