<h1>Index for Bookings</h1>

<ul>
    <% @bookings.each do |booking| %>
    <li><%= booking.id %>: <%= link_to booking.pickup_time, booking %><br><br>
    <% end %>
</ul>
<%= button_to "Create Booking", new_booking_path, :method => :get  %>
