<div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Welcome to EV Share</h3>
          <h5><span class="w3-opacity"></span></h5>
        </div>

        <div class="w3-justify">
          <img src="https://cdn.vox-cdn.com/thumbor/BRTRNXfEn6EjaZz-Nlfd3Jh_4pc=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/6455053/model-s-interior.0.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
          <p><strong>Experience Electric!</strong> EV-Share-Services provides automobile reservations to its members, billable by the hour or day; members may have to pay a monthly or annual membership fee in addition to car reservations charges. Clients can book or add cars from/to the inventory we have on our site. Borrowers can also leave a review and create a wish list.</p>
          </div>




