/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body {
  background-image: url("https://cdn.vox-cdn.com/thumbor/BRTRNXfEn6EjaZz-Nlfd3Jh_4pc=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/6455053/model-s-interior.0.jpg");
  background-size: cover;
    background-color: rgb(253, 253, 253);
    color: rgb(250, 243, 243);
    margin: 33px;
    text-align: center;

  } */

.nav-link {
  padding-right: 30px
}

.form {
  padding-left: 30px
}

.pad-left {
  padding-left: 30px
}

h1 {
  font-family: 'Kufam', cursive;
  font-size: 40px;
  padding-left: 30px;
  padding-top: 30px
}

h2 {
  font-family: 'Kufam', cursive;
  padding-left: 30px;
}

h3 {
  font-family: 'Kufam', cursive;
}

h5 {
  font-family: 'Kufam', cursive;
}

h6 {
  font-family: 'Kufam', cursive;
}

h7 {
  font-family: 'Kufam', cursive;
}

p {
  font-family: 'Noto Sans', sans-serif;
  margin-block: center;
}

body, ol, ul, td {
  font-family: 'Kufam', cursive;
  font-family: 'Kufam', cursive;
  
  color: #eee;
}

.btn {
  
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}


body  {

  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;

}


img.bg {
  overflow: hidden;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1920px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1080px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: rgb(252, 246, 246);
  font-family: 'Noto Sans', sans-serif;
}
/* Inventory link */
a:visited {
  color: #f8f7fc; }

a:hover {
  color: rgb(24, 131, 231);
 }

th {
  padding-top: 15px; }

td {
  padding-top: 15px; }

div.field,
div.actions {
  margin-bottom: 20px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

.error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
