<h1>Index for Reviews</h1>

<ul>
    <% @reviews.each do |review| %>
    <li>
     Star Review: <%= link_to review.star_rating, review %>
    </li>
    <br>
    <% end %>
</ul>
<%= button_to "Create Review", new_review_path, :method => :get  %>
